# List and its default functions

In [1]:
l=["MSDhoni",7,"yellow",1000,99.9]    #list

In [2]:
l

['MSDhoni', 7, 'yellow', 1000, 99.9]

In [3]:
l.append("CSk")   #append()

In [4]:
l

['MSDhoni', 7, 'yellow', 1000, 99.9, 'CSk']

In [5]:
l.index(7)        #index()

1

In [6]:
l.reverse()       #reverse()

In [7]:
l

['CSk', 99.9, 1000, 'yellow', 7, 'MSDhoni']

In [8]:
l.extend([7,7])   #extend()

In [9]:
l

['CSk', 99.9, 1000, 'yellow', 7, 'MSDhoni', 7, 7]

In [10]:
l.count(7)        #count()

3

In [14]:
l.pop();print(l)               #pop()
l.insert(6,"Kohli");print(l)    #insert()
l.remove(1000);print(l)       #remove

['CSk', 99.9, 1000, 'yellow', 7, 'MSDhoni']
['CSk', 99.9, 1000, 'yellow', 7, 'MSDhoni', 'Kohli']
['CSk', 99.9, 'yellow', 7, 'MSDhoni', 'Kohli']

In [15]:
l.reverse();print(l)

['Kohli', 'MSDhoni', 7, 'yellow', 99.9, 'CSk']

In [16]:
l.clear();print(l)           #clear()

[]

# Dictionary and its default functions

In [49]:
cricket={7:"MSD",18:"Kohli",10:"Sachin"}
cricket

{7: 'MSD', 18: 'Kohli', 10: 'Sachin'}

In [50]:
print(cricket.items())            #items()

dict_items([(7, 'MSD'), (18, 'Kohli'), (10, 'Sachin')])

In [51]:
print(cricket.keys())           #keys()

dict_keys([7, 18, 10])

In [52]:
print(cricket.get(7))           #get()

MSD

In [53]:
print(cricket.fromkeys(cricket.keys()))

{7: None, 18: None, 10: None}

In [54]:
v="Selviiprabha"
print(cricket.fromkeys(cricket.keys(),v))                       #fromkeys()

{7: 'Selviiprabha', 18: 'Selviiprabha', 10: 'Selviiprabha'}

In [55]:
print(cricket.values())   #values()

dict_values(['MSD', 'Kohli', 'Sachin'])
{7: 'MSD', 18: 'Kohli', 10: 'Sachin'}

In [57]:
cricket.pop(18)         #pop()
print(cricket)

{7: 'MSD', 10: 'Sachin'}

# Set and its default functions

In [58]:
d={1,2,"AS"}

In [94]:
d

{1, 2, 3, 'AS'}

In [100]:
d.add(3)
d                         #add()

{1, 2, 3, 'AS'}

In [115]:
c={1, 2, 3, 4, 'AS',"BT"}
d.issubset(c)             #issubset()

True

In [116]:
print(d.intersection(c)) #intersection()

{'AS', 1, 2, 3}

In [117]:
print(c.difference(d))  #difference()

{'BT', 4}

In [118]:
print(d.union(c))      #union()

{'AS', 1, 2, 3, 4, 'BT'}

In [119]:
c.remove(4)           #remove()
c

{1, 2, 3, 'AS', 'BT'}

In [121]:
c.pop()  
c                    #pop()

{1, 2, 3, 'BT'}

# Tuple and its default functions

In [149]:
t=(2,3,4)

In [140]:
t

(2, 3, 4)

In [143]:
t.index(2)                                  #index()

0

In [144]:
t.count(3)                                  #count()

1

# string and its default functions

In [172]:
s="PythonProgram"

In [173]:
s.upper()                                   #upper()

'PYTHONPROGRAM'

In [174]:
s.zfill(15)                                 #zfill()

'00PythonProgram'

In [175]:
s.swapcase()                                #swapcase()

'pYTHONpROGRAM'

In [176]:
print(s.find("r"),s.find("b"))              #find()

7 -1

In [177]:
print(s.isalpha(),s.isalnum(),s.isspace(),s.isdigit()) #is__()

True True False False

In [178]:
b="Hello World"
print(s.count("P"),s.endswith("m"),s.index("y"),b.split(" "))

2 True 1 ['Hello', 'World']

In [182]:
print(b.replace("l","*"))                                         #replace()

He**o Wor*d

In [183]:
print(b.count("l"))                                                #count()

3